SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/eco_commute
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
GOOGLE_CLIENT_ID=
OPENAI_API_KEY=
SEED_DEMO_DATA=true
